<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>All Users</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.surname}">Surname</td>
        <td th:text="${user.department}">Dep</td>
        <td th:text="${user.salary}">0</td>
        <td>
            <a th:href="@{/admin/updatedInfo(userId=${user.id})}">Update</a>

            <form th:action="@{/admin/deleteUser}" method="post" style="display:inline;">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<br>
<a th:href="@{/admin/addNewUser}">Add New User</a>
<hr>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>