<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
<h1>Личный кабинет</h1>

<div th:if="${user != null}">
    <ul>
        <li>Имя: <span th:text="${user.name}">Данные отсутствуют</span></li>
        <li>Фамилия: <span th:text="${user.surname}">Данные отсутствуют</span></li>
        <li>Департамент: <span th:text="${user.department}">Данные отсутствуют</span></li>
        <li>Зарплата: <span th:text="${user.salary}">0</span></li>
        <li>Логин: <span th:text="${user.username}">Данные отсутствуют</span></li>
        <li>Роли:
            <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
        </li>
    </ul>
</div>

<hr>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>